*\vs
*\bin
*\obj
*\appsettings.*
*\clips 
*/Lavalink/
/OuterHeavenLight/LavaFileCache.json
/OuterHeavenLight/Lavalink/plugins/youtube-plugin-1.11.4.jar
/OuterHeavenLight/lavalogs
/OuterHeavenLight/botlogs
/OuterHeavenLight/file_request.zip
/OuterHeavenBot.Test/TestFile.txt
